<mat-form-field class="search">
  <mat-label>Поиск</mat-label>
  <input matInput type="text" [(ngModel)]="filter">
  @if (filter()) {
    <button matSuffix matIconButton aria-label="Clear" (click)="filter.set(undefined)">
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>


<div class="table">
  @for (task of tasks(); track task.id) {
  <div class="task" [class.incomplete]="task.status === 'incomplete'">
    <h2 class="title">
      <mat-icon>{{
        task.status === "complete" ? "check" : "pending_actions"
      }}</mat-icon>
      {{ task.title }}
    </h2>

    <div class="description">{{ task.description }}</div>

    <div class="controls">
      <a matButton="filled" [routerLink]="['/tasks', task.id]">
        <mat-icon>more_vert</mat-icon>
        Подробнее
      </a>
      <button matButton="filled" class="warn" (click)="delete(task.id)">
        <mat-icon>delete</mat-icon>
        Удалить
      </button>
    </div>
  </div>
  }
</div>
